.TabsTrigger {
  font-family: inherit;
  background-color: transparent !important;
  padding: 0 20px;
  height: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  color: var(--mauve-11);
  user-select: none;
}

.TabsTrigger[data-state="active"] {
  color: white;
}

.TabsTrigger[data-state="inactive"] {
  background-color: transparent;
}

.TabsTrigger:first-child {
  border-top-left-radius: 6px;
  background-color: transparent;
}
.TabsTrigger:last-child {
  border-top-right-radius: 6px;
  background-color: transparent;
}
.TabsTrigger:focus {
  position: relative;
  background-color: transparent;
}
